@media screen and (max-width: 991px) {

    /******************************* IMG LOCAL NOSOTROS *******************************/

    .rownosotros {
        display: grid;
        grid-template-columns: 1fr;
    }

    /******************************* IMG LOCAL NOSOTROS *******************************/
    .nosotros__div__div{
    .rowcontacto {
        display: grid;
        grid-template-columns: 1fr;
    }
    }

}

@media screen and (max-width: 720px) {

    /******************************* MAPA Y FORMULARIO DE CONTACTOS *******************************/

}

@media screen and (max-width: 575px) {

    /******************************* NAVBAR *******************************/
}